iframe {
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}
.links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.links a {
    text-decoration: none;
    color: white;
    background-color: #222222;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: 0.3s;
}
.links a:hover {
    transform: scale(1.05);
}
.main h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.4rem;
    /* line-height: 2.8rem; */
    font-weight: 600;
    text-align: center;
    width: 80%;
}
.main {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}
@media (max-width: 480px) {
    .links a {
        width: calc(100%);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .links a {
        width: calc((100% / 2) - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .links a {
        width: calc((100% / 3) - 40px);
    }
}

@media (min-width: 1025px) {
    .links a {
        width: calc((100% / 4) - 40px);
    }
}
