.App{
    min-height: calc(100vh - 80px);
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 40px 0;  
    flex-direction: column;
    background-color: #0F0F0F;
    position: relative;
}
form input{
    width: calc(40% - 2px);
    padding: 20px 0;
    border: 1px solid #2F2F2F;
    border-radius: 10px 0 0 10px;
    text-indent: 10px;
    background-color: #121212;
    display: block;
    color: white;
}
form input:focus{
    outline: none;
    background-color: #121212;
    border-color: #3263B9;

}

form input:focus + button{
    border-left: 1px solid #3263B9 ;

}
form button{
    position: absolute;
    padding: 20px 0px;
    width: 10%;
    right: 20%;
    background-color: #222222;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 1px solid #2F2F2F;
    border-left-color: transparent;
    top: 0;
    cursor: pointer;
}
.error-messege{
    color: #E62E2D;
    text-align: center;
    margin-top: -25px;
    font-size: 20px;
}
form{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

@media (max-width: 480px) {
    form{
        display: block;
        padding-right: 0;
        padding-left:  6%;
    }
    form input{
        width: 80%;
        
    }
    
    form button{
        width: 28%;
        right: 5%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    form input{
        width: 75%;
        
    }
    
    form button{
        width: 15%;
        right: 10%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    form input{
        width: 70% ;
        
    }
    
    form button{
        width: 10%;
        right: 12%;
    }
}

@media (min-width: 1025px) {

    form input{
        width: 65%;
        
    }
    
    form button{
        width: 10%;
        right: 15%;
    }
}
.rights{
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}